name: Compile (Tectonic)

on:
  push:
    branches:
      - main

  pull_request:

jobs:
  english:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@main

      - name: Build PDF
        run: |
          docker run --mount src=$PWD,target=/usr/src/tex,type=bind dxjoke/tectonic-docker /bin/sh -c "tectonic --keep-intermediates --reruns 0 biber-mwe.tex; biber biber-mwe; tectonic resume.tex"
          mv resume.pdf AlinNedelcu_resume.pdf

      - name: Generate artifact for PDF (english)
        uses: actions/upload-artifact@main
        with:
          name: AlinNedelcu_resume.pdf
          path: AlinNedelcu_resume.pdf

  spanish:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@main

      - name: Build PDF
        run: |
          docker run --mount src=$PWD,target=/usr/src/tex,type=bind dxjoke/tectonic-docker /bin/sh -c "tectonic --keep-intermediates --reruns 0 biber-mwe.tex; biber biber-mwe; tectonic resume-spanish.tex"
          mv resume-spanish.pdf AlinNedelcu_curriculum.pdf

      - name: Generate artifact for PDF (spanish)
        uses: actions/upload-artifact@main
        with:
          name: AlinNedelcu_curriculum.pdf
          path: AlinNedelcu_curriculum.pdf

  new:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@main

      - name: Build PDF
        run: |
          docker run --mount src=$PWD,target=/usr/src/tex,type=bind dxjoke/tectonic-docker /bin/sh -c "tectonic --keep-intermediates --reruns 0 biber-mwe.tex; biber biber-mwe; tectonic resume-complete.tex"
          mv resume-complete.pdf AlinNedelcu_resume_complete.pdf

      - name: Generate artifact for PDF (complete)
        uses: actions/upload-artifact@main
        with:
          name: AlinNedelcu_resume_complete.pdf
          path: AlinNedelcu_resume_complete.pdf
